* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

html:root {
   --body-bg: #fdfdfd;
}

html, body {
   width: 100%;
   min-height: 100%;
   background: var(--body-bg);
   -webkit-tap-highlight-color: transparent;
}

body {
   font-family: 'Roboto', sans-serif;
}
